

<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />

    <link href="~/Content/fontawesome-all.min.css" rel="stylesheet" />
    <link href="~/Content/atividades.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

    <title>Lista de Tarefas</title>
</head>
<body>
    <div>

        @RenderBody()

    </div>
    <footer class="footer mt-auto py-3">
        <div class="container">
            <span class="text-muted">Vinicius Campelo</span><a href="https://wa.me/5561991759170?text=Ola!" target="_blank" class="text-decoration-none"> 61 99175-9170</a>
        </div>
    </footer>
</body>
</html>

