<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="angularjs" version="1.8.2" targetFramework="net471" />
  <package id="AngularJS.Core" version="1.2.0" targetFramework="net471" />
  <package id="AngularJS.Utils.Pagination" version="0.11.1" targetFramework="net471" />
  <package id="Antlr" version="3.4.1.9004" targetFramework="net471" />
  <package id="bootstrap" version="4.5.3" targetFramework="net471" />
  <package id="Bootstrap.Datepicker" version="1.8.0.1" targetFramework="net471" />
  <package id="Bootstrap.Datepicker.Globalize" version="1.0.0" targetFramework="net471" />
  <package id="Devart.Data" version="5.0.2551" targetFramework="net471" />
  <package id="EntityFramework" version="6.4.4" targetFramework="net471" />
  <package id="EntityFramework6.Npgsql" version="3.0.7" targetFramework="net471" />
  <package id="Font.Awesome" version="5.15.1" targetFramework="net471" />
  <package id="HelperMethods.HTMLHelper" version="1.0.0" targetFramework="net471" />
  <package id="jQuery" version="3.3.1" targetFramework="net471" />
  <package id="jQuery.UI" version="1.12.1.1" targetFramework="net471" />
  <package id="jQuery.UI.Combined" version="1.12.1" targetFramework="net471" />
  <package id="jquery-globalize" version="0.1.1" targetFramework="net471" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.7" targetFramework="net471" />
  <package id="Microsoft.AspNet.Mvc.pt-br" version="5.2.7" targetFramework="net471" />
  <package id="Microsoft.AspNet.Razor" version="3.2.7" targetFramework="net471" />
  <package id="Microsoft.AspNet.Razor.pt-br" version="3.2.7" targetFramework="net471" />
  <package id="Microsoft.AspNet.Web.Optimization" version="1.1.3" targetFramework="net471" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.7" targetFramework="net471" />
  <package id="Microsoft.AspNet.WebPages.pt-br" version="3.2.7" targetFramework="net471" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="1.1.0" targetFramework="net471" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="2.0.1" targetFramework="net471" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net471" />
  <package id="Microsoft.Win32.Registry" version="4.5.0" targetFramework="net471" />
  <package id="Newtonsoft.Json" version="5.0.4" targetFramework="net471" />
  <package id="Npgsql" version="3.0.7" targetFramework="net471" />
  <package id="popper.js" version="1.16.1" targetFramework="net471" />
  <package id="System.Buffers" version="4.5.0" targetFramework="net471" />
  <package id="System.Diagnostics.PerformanceCounter" version="4.5.0" targetFramework="net471" />
  <package id="System.Memory" version="4.5.3" targetFramework="net471" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net471" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.6.0" targetFramework="net471" />
  <package id="System.Security.AccessControl" version="4.5.0" targetFramework="net471" />
  <package id="System.Security.Principal.Windows" version="4.5.0" targetFramework="net471" />
  <package id="System.Text.Encoding.CodePages" version="4.5.0" targetFramework="net471" />
  <package id="System.Text.Encodings.Web" version="4.6.0" targetFramework="net471" />
  <package id="System.Text.Json" version="4.6.0" targetFramework="net471" />
  <package id="System.Threading.Channels" version="4.7.0" targetFramework="net471" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.3" targetFramework="net471" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net471" />
  <package id="WebGrease" version="1.5.2" targetFramework="net471" />
</packages>